/*------------font,text,color------------*/

@import url('https://fonts.googleapis.com/css?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/*------------reset------------*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*------------body------------*/

body {
  text-align: center;
  background-size: cover;
  background: #ffffff;
  color:#2c2c2c;
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Volkhov', serif;
}


h1 {
  font-size: 3em;  
  padding-bottom: 1em;
}

h2 {
    font-family: "Lato", sans-serif;
    font-size: 2.5em;
}

h3 {
    font-size: 2em;  
}

h4 {
    font-size: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.3em;
}


p + h4 {
  margin: 1em 0;
}

h3 + p {
  padding-top: 1em;
}


div + h3 {
  padding-top: 1em;
}



blockquote p {
  padding: 1em;

}


/*------------navigation------------*/

header::after{
  content:'';
  display: block;
  clear: both;
  background: white;
  width: 80%;
  margin: 0 auto;
}


.logo{
  float: left;
  padding: 2em 1em 0 2em;
  width:250px;
}

nav{
  float: right;
  padding: 4em 2em;
}


nav a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 2em 2em;
}




a:link {
  color: #2c2c2c;
}



a:hover{
   color: #84bec9;
}




/*------------clearfix-----------*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 4em 0;

}




/*------------yellowhero-----------*/


#yellow-hero {
  padding: 12em 0em;
  background-color: #fbe338;
  text-align:left;

}


/*------------enterprise consumer-----------*/


.entconsumer {
 float: left;
 width: 50%;
 
 padding: 8em 0;
}


.ecimage {
  width:100%;
  max-width: 1200px;
  margin: auto;
  padding: 4em 0;
}



/*------------partners------------*/

#partners {
  background: #ecf0f1;
  padding: 1em 0em;
}

#partner-logos {
  padding: 4em 0em 2em 0em;
}



/*------------benefits------------*/


#benefits-list{
  width: 50%;
  padding: 8em 0em;
  float: left;
  text-align: left;
  max-width: 600px;
}




/*------------testimonials------------*/


#testimonials{
  padding: 4em 1em 8em;
 }

 #testimonial-text{
  max-width: 600px;
  margin: 0 auto;
  border-width: 2em;
  box-shadow: 1em 1em 1em #ecf0f1;
  padding: 4em 0em;
  text-align:center;
 }

.testimonial-img {
  border-radius: 50%;
  width: 100px;

}





/*------------footer------------*/

footer{
  display: block;
  padding: 1em 0em;
  background-color: #fbe338;
  text-decoration: none;


}

