/*------------font,text,color------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/*------------reset------------*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*------------body-----------*/

body {
  text-align: center;
  background-size: cover;
  background: #ffffff;
}

h1, h2, h3, h4, h5, h6{
  color:#2c2c2c;
  font-family: 'Playfair Display', serif;
}


h1 {
  font-size:48px;  
}

h2 {
    font-size:36px;
}

h3 {
    font-size:28px;  
}

h4 {
    font-size:24px;
}

p {
  color: #2c2c2c;
  font-size:18px;
  font-family: "Lato", sans-serif;
}


/*------------navigation------------*/

header::after{
	content:'';
	display:block;
	clear:both;
	background:white;
  width:80%;
  margin: 0 auto;
}

header{
  background: #FFED74;
}

.logo{
	float:left;
	padding:10px 10px 0px 30px;
	width:15%;
}

nav{
	float:right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style:none;
}

nav li{
	display: inline-block;
	margin-left:10px;
	padding-top: 45px;
  padding-right:45px;
}

nav a{
	color:#2c2c2c;
	text-decoration:none;
	text-transform:uppercase;
  font-family: "Lato", sans-serif;
}



hr{
  width:auto;
}

/*------------clearfix-----------*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/*------------yellowhero-----------*/


#yellow-hero {
  background-color:#fbe338;
  margin:25px 0px;
  padding: 250px 0px;
  text-align:center;
}


/*------------enterpriseconsumer-----------*/


#consumer {
 float: left;
 width: 50%;
 height:300px;
 padding-top: 50px;
}

#enterprise{
 float: right;   
 width: 50%;
 height:300px;
 padding-top: 50px;

}


/*------------partners------------*/

#partners{
  height:200px;
  width:100%;
  margin:10px 0px;
  padding:20px 0px;

}
/*------------benefits------------*/




#benefits{
  float:left;
  width:50%;
  height:500px;
  margin:10px 0px;
  padding:20px 0px;
  text-align:center;

}

#benefits-list{
  float:right;
  width:50%;
  height:500px;
  margin:10px 0px;
  padding:50px 0px;
  text-align:left;
}


/*------------testimonials------------*/



#testimonials{
  width:100%;
  height:600px;
  margin: 20px 0px;
  padding: 20px 0px;
 }



/*------------footer------------*/

footer{
  float:left;
  display:block;
  width:100%; 
  margin: 25px 0px;
  padding:20px;
  background-color:#fbe338;
  text-decoration: none;

}


